# Git
.git
.gitignore

# Docker
.docker
Dockerfile
.dockerignore

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Environments & Secrets (DO NOT bake secrets into images!)
.env
*.env
app.env

# Virtual Environments
.venv/
venv/
env/